@font-face {
  font-family: Bravura;
  src: local("Bravura Regular"),
    local("BravuraRegular"),
    local("Bravura"),
    url(Bravura.ttf) format("opentype");
}

body {
  font-family: Bravura, Sonata, Opus, Petrucci, Seville, Ghent, Maestro, InkPen2, Reprise, sans-serif;
}
