@font-face {
  font-family: Bravura;
  src: local("Bravura Regular"),
    local("BravuraRegular"),
    local("Bravura"),
    url(Bravura.ttf) format("opentype");
}

html {
  font-family: Bravura, Sonata, Opus, Petrucci, Seville, Ghent, Maestro, InkPen2, Reprise, sans-serif;


}

@media only screen and (max-device-width: 480px) {
/* define mobile specific styles come here */

  body {
    font-size: 4em; /* 40px/16=2.5em */
  }

}

button, input, select, textarea {
  font-family : inherit;
  font-size   : inherit; /*100%;*/
}

form
{
width: 4em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block
}

.submit input
{
margin-left: 4.5em;
}
input
{
border: 1px solid #781351
}
